
RewriteEngine on
RewriteCond %{HTTP_HOST} ^colarusgroup\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colarusgroup\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/colarusgroup\.ca" [R=301,L]

